[link](https://www.w3resource.com/r-programming-exercises/basic/index.php)

1- Write a R program to take input from the user (name and age) and display the values. Also print the version of R installation

In [19]:
name = readline(prompt="Enter your name: ")
age = readline(prompt="Enter your age: ")
cat("\nHi " , name , "!, Your are ", age, "years old")
cat("\n\nR version:\t ", version$version.string)

Enter your name: Amir
Enter your age: 29

Hi  Amir !, Your are  29 years old

R version:	  R version 3.4.4 (2018-03-15)

2. Write a R program to get the details of the objects in memory.

In [25]:
ls.str()

age :  chr "29"
name :  chr "Amir"

3. Write a R program to create a sequence of numbers from 20 to 50 and find the mean of numbers from 20 to 60 and sum of numbers from 51 to 91

In [28]:
x = 20:50
print(mean(20:60))
print(sum(51:91))

[1] 40
[1] 2911

4. Write a R program to create a vector which contains 10 random integer values between -50 and +50

In [43]:
sample(-50:50,10,replace=T)

 [1]  17 -18  14 -44  38  33  -6   8  11 -24

5. Write a R program to get the first 10 Fibonacci numbers.

In [83]:
x = c()
for (i in 0:9){
   if (i == 0){
    x <- append(x, 0)
}
    else if (i == 1){
    x <- append(x, x[1] + 1)
} 
    else{
        x <- append(x, sum(tail(x, 2)))
    }
}
x

 [1]  0  1  1  2  3  5  8 13 21 34

6. Write a R program to get all prime numbers up to a given number (based on the sieve of Eratosthenes).

In [250]:
prime <- function(number){
    l = c()
    r = 2:(number-1)
    x = r[order(r, decreasing = T)]
    for (i in x){
        if (number %% i == 0){
            l <- append(l, i)
        }
    }
    if (length(l) > 0){
        cat("\nThese are prime numbers given your provided number\n\n")
        cat(l)
    }
    else{
        cat("Sorry, there is no prime number in your number range")
    }
}
prime(5)

Sorry, there is no prime number in your number range

In [251]:
prime(8)

These are prime numbers given your provided number

4 2

7. Write a R program to print the numbers from 1 to 100 and print "Fizz" for multiples of 3, print "Buzz" for multiples of 5, and print "FizzBuzz" for multiples of both.

In [262]:
for (i in 1:100){
    if (i %% 5==0){
        if (i %% 3==0){
            cat(i, "FizzBuzz\n")
        }
    else{
        cat(i, "Buzz\n")
    }
    }
    else if (i %% 3==0){
            cat(i, "Fizz\n")
        }
}

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 FizzBuzz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 FizzBuzz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 FizzBuzz
93 Fizz
95 Buzz
96 Fizz
99 Fizz
100 Buzz

8. Write a R program to extract first 10 english letter in lower case and last 10 letters in upper case and extract letters between 22nd to 24th letters in upper case.

In [270]:
letters[1:10]
LETTERS[1:10]
LETTERS[22:24]

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J"

[1] "V" "W" "X"

9. Write a R program to find the factors of a given number.

In [290]:
fact <- function(number){
    for (i in 1:number){
        if (number %% i == 0){
            print(i)
        }
    }
}
fact(48)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 6
[1] 8
[1] 12
[1] 16
[1] 24
[1] 48

10. Write a R program to find the maximum and the minimum value of a given vector.

In [329]:
maxim <- function(vect){
    x = vect[1]
    for (i in vect){
        if (i > x){
            x <- i
        } 
    }
    print(x)
}
maxim(c(17,12,3))

[1] 17

In [330]:
minim <- function(vect){
    x = vect[1]
    for (i in vect){
        if (i < x){
            x <- i
        } 
    }
    print(x)
}
minim(c(17,12,3))

[1] 3

11. Write a R program to get the unique elements of a given string and unique numbers of vector.

In [342]:
unique_elements <- function(vect){
    y <- vect[1]
    for (i in vect){
        if(!i %in% y){
            y <- append(y, i)
        }
    }
    print(y)
}
unique_elements(c(4,3,22,3,4,5,4,5,4,5))

[1]  4  3 22  5

12. Write a R program to create three vectors a,b,c with 3 integers. Combine the three vectors to become a 3×3 matrix where each column represents a vector. Print the content of the matrix.

In [353]:
a <- 1:3
b <- 4:6
c <- 7:9


my_matrix <- cbind(a,b,c)
my_matrix

     a b c
[1,] 1 4 7
[2,] 2 5 8
[3,] 3 6 9

13. Write a R program to create a list of random numbers in normal distribution and count occurrences of each value.

In [395]:
table(rnorm(50))

   -2.59186500336074    -1.94044084640681    -1.82962801311145
                   1                    1                    1
   -1.80968878951787    -1.58203812635888    -1.28292871350947
                   1                    1                    1
   -1.17018147719521   -0.973939697511083   -0.928575651859901
                   1                    1                    1
  -0.928084485529726   -0.673997047545104   -0.606716608387691
                   1                    1                    1
  -0.456857333058752   -0.438239209702077   -0.391883282519013
                   1                    1                    1
  -0.316396206602274   -0.307568726510035   -0.256011096786542
                   1                    1                    1
  -0.158264153450751 0.000973613063710343    0.107605430028761
                   1                    1                    1
   0.172297467905706    0.282912375451972    0.319009977570502
                   1                    1                    1
    0.34872349709394    0.353526608358611    0.445423604757518
                   1                    1                    1
   0.461822663051666    0.570491846806724    0.578152408430353
                   1                    1                    1
   0.579795844259839    0.584924735429789    0.595903121607971
                   1                    1                    1
   0.598970487715717    0.757413298854161    0.775037745924627
                   1                    1                    1
   0.969358766789129     1.05350974617859     1.08593364392783
                   1                    1                    1
    1.29639824893666     1.35265425192907     1.44818893841569
                   1                    1                    1
    1.46374662971111      1.7136304569238     1.91421151615862
                   1                    1                    1
    2.06240398344733     2.15686613547154     2.18519229022277
                   1                    1                    1
    2.39143523865511     2.69731681660637
                   1                    1

14. Write a R program to read the .csv file and display the content.

In [ ]:
read.table
read.csv
read.csv2

15. Write a R program to create three vectors numeric data, character data and logical data. Display the content of the vectors and their type.

In [408]:
n = c(3, 5, 77, 8)
c = c('a', 'b', 'c', 'd')
l = c(T, T, F, T)
for (i in list(n, c, l)){
    cat(i, "..........", class(i), "\n")
}

3 5 77 8 .......... numeric
a b c d .......... character
TRUE TRUE FALSE TRUE .......... logical

16. Write a R program to create a 5 x 4 matrix , 3 x 3 matrix with labels and fill the matrix by rows and 2 × 2 matrix with labels and fill the matrix by columns.

In [434]:
my_matrix_by_row <- matrix(1:20, byrow = T, ncol = 4, dimnames = list(c(101:105), LETTERS[1:4]))
my_matrix_by_row

    A  B  C  D
101  1  2  3  4
102  5  6  7  8
103  9 10 11 12
104 13 14 15 16
105 17 18 19 20

In [438]:
my_matrix_by_col <- matrix(101:104, byrow = F, ncol = 2, dimnames = list(c(101:102), LETTERS[1:2]))
my_matrix_by_col

    A   B
101 101 103
102 102 104

17. Write a R program to create an array, passing in a vector of values and a vector of dimensions. Also provide names for each dimension.

In [462]:
vector <- c(5,9,3, 10,11,12,13,14,15, 5,9,3, 10,11,12,13,14,15)
arr <- array(vector,dim = c(10,10), dimnames = c(list(1:10),list(LETTERS[1:10])))
arr

   A  B  C  D  E  F  G  H  I  J
1   5  9  3 10 11 12 13 14 15  5
2   9  3 10 11 12 13 14 15  5  9
3   3 10 11 12 13 14 15  5  9  3
4  10 11 12 13 14 15  5  9  3 10
5  11 12 13 14 15  5  9  3 10 11
6  12 13 14 15  5  9  3 10 11 12
7  13 14 15  5  9  3 10 11 12 13
8  14 15  5  9  3 10 11 12 13 14
9  15  5  9  3 10 11 12 13 14 15
10  5  9  3 10 11 12 13 14 15  5

18. Write a R program to create an array with three columns, three rows, and two "tables", taking two  vectors as input to the array.  Print the array.

19. Write a R program to create a list of elements using vectors, matrices and a functions. Print the content of the list.

20. Write a R program to draw an empty plot and an empty plot specify the axes limits of the graphic.

21. Write a R program to create a simple bar plot of five subjects marks.

22. Write a R program to create  bell curve of a random normal distribution.

23. Write a R program to compute sum, mean and product of a given vector elements.

24. Write a R program to create a list of heterogeneous data, which include character, numeric and logical vectors. Print the lists.

25. Write a R program to create a Dataframes which contain details of 5 employees and display the details.

26. Write a R program to create a Data Frames which contain details of 5 employees and display summary of the data.

27. Write a R program to create the systems idea of the current date with and without time.